<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VotingApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".WinnerList"
            android:exported="false" />
        <activity
            android:name=".Winner"
            android:exported="false" />
        <activity
            android:name=".AdminPolls"
            android:exported="false" />
        <activity
            android:name=".AdminPage"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".DisplayVoteCountActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".PollAdmin"
            android:exported="false" />
        <activity
            android:name=".signUpActivity"
            android:label="Sign Up" />
        <activity
            android:name=".logInActivity"
            android:label="LogIn" />
        <activity
            android:name=".menuActivity"
            android:label="Menu" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreatePollActivity"
            android:exported="true"
            android:label="@string/create_poll_title"
            android:parentActivityName=".AdminPage">
            <intent-filter>
                <action android:name="com.example.myapp.ACTION_CREATE_POLL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayVoteCountActivity"
            android:exported="true"
            android:label="@string/create_poll_title"
            android:parentActivityName=".AdminPage">
            <intent-filter>
                <action android:name="com.example.myapp.ACTION_CREATE_POLL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VoteCandidateActivity"
            android:exported="true"
            android:label="@string/create_poll_title"
            android:parentActivityName=".ShowPollsActivity">
            <intent-filter>
                <action android:name="com.example.myapp.ACTION_CREATE_POLL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/create_poll_title"
            android:parentActivityName=".HomeActivity" /> <!-- <activity -->
        <!-- android:name=".HomeActivity" -->
        <!-- android:label="home_title" -->
        <!-- android:parentActivityName=".MainActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.example.myapp.ACTION_PROFILE" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".ShowPollsActivity"
            android:exported="true"
            android:label="@string/show_polls_title"
            android:parentActivityName=".HomeActivity">
            <intent-filter>
                <action android:name="com.example.myapp.ACTION_SHOW_POLLS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/home_title"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="com.example.myapp.ACTION_HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>